.nav {
    display: flex;
    column-gap: 4px;
    top: 10px;
    position: absolute;
    border-bottom: 1px solid black;
    width: 100%;
}

.title {
    padding-right: 25px;
    padding-left: 10px;
    margin: 0 ;
    font-weight: 700;
}